Source: elementary-default-settings
Section: gnome
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2

Package: elementary-default-settings
Architecture: all
Depends: ${misc:Depends}, dmz-cursor-theme
Recommends: midori, pantheon-terminal, postler, beatbox, plank-theme-pantheon, gloobus-preview
Replaces: midori
Enhances: midori, plank
Description: elementary default settings
 This package contains various system defaults for elementary OS.
 Installing this package won't affect existing users on your system.
