Source: elementary-default-settings
Section: gnome
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.1.3~),
               libglib2.0-dev
Standards-Version: 3.9.2

Package: elementary-default-settings
Architecture: all
Depends: ${misc:Depends}, elementary-icon-theme
Recommends: pantheon-terminal, noise
Conflicts: elementary-live-settings
Replaces: elementary-live-settings, libgtk-3-0
Enhances: plank
Description: elementary default settings
 This package contains various system defaults for elementary OS.
 Installing this package won't affect existing users on your system.

Package: elementary-dpms-helper
Architecture: all
Depends: ${misc:Depends}, x11-xserver-utils
Description: script and settings for X DPMS
 Basic script and GSettings for managing
 X Display Power Management Signaling when
 GNOME Settings Daemon's Power plugin should not.

Package: elementary-printer-test-page
Architecture: all
Depends: ${misc:Depends}
Conflicts: print-test-page-elementary
Replaces: cups-filters, print-test-page-elementary
Description: printer test page for elementary
 Printer test page for elementary OS.

Package: plymouth-theme-elementary
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Description: changes the plymouth theme to elementary OS
 Changes the plymouth theme to the official elementary OS theme.

Package: plymouth-theme-elementary-text
Section: oldlibs
Priority: extra
Architecture: all
Depends: ${misc:Depends}
Description: Dummy transitional package
 This package is transitional to plymouth-theme-elementary.
 It can be safely removed after upgrade to elementary OS 0.4 Freya.

Package: ubiquity-slideshow-elementary
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Depends: ${misc:Depends}
Description: Ubiquity slideshow for elementary
 A basic slideshow intended for the Ubiquity installer, designed as a quick
 workaround for Ubiquity bugs that occur without a theme present.
