[Unit]
Description=Configure Plymouth for HiDPI screens
After=graphical.target
Requires=graphical.target

[Service]
Type=oneshot
Environment="DISPLAY=:0"
ExecStart=/usr/local/bin/plymouth-hidpi.sh
ExecStartPost=/bin/bash -c 'if [ $? -eq 0 ]; then systemctl disable plymouth-hidpi.service; rm -f /etc/systemd/system/plymouth-hidpi.service /usr/local/bin/plymouth-hidpi.sh; fi'

[Install]
WantedBy=graphical.target

